/*Fuente*/
@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&family=Fraunces:opsz,wght@9..144,700&display=swap");
/*font-family: 'Epilogue', sans-serif;*/

/*Configuración inicial*/

body * {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Epilogue", sans-serif;
}

section #titulo {
  font-weight: bold;
}

section #texto {
  font-size: 18px;
  color: hsl(0, 0%, 41%);
}

#boton {
  display: flex;
  justify-content: center;
}

footer img{
    height: 100%;
}

